extends layout

block content
  h1= title

  if currentUser
    p Welcome back #{currentUser.name.first}!

    a(href='/logout') Log Out

  else
    p
      a(href="/login") Log In

    p
      a(href="/signup") Sign Up