doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div#nav
      a(href="/") Home
      if currentUser
        a(href='/logout') Log Out
      else
        a(href="/login") Log In
        a(href="/signup") Sign Up

    block content
