extends layout

block content
  h1= title

  form(action="" method='POST')
    label(for="title") Title: 
    input#title(type="text" name='title' required)
    label(for="message") Message:
    textarea#message(name="message", cols="30", rows="10" required)
    button Post