body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

form {
  display: flex;
  flex-direction: column;
}

.text-input {
  width: 400px;
}

#is-admin {
  margin: 0;
}

#checkbox-container, .text-input {
  margin-bottom: 15px;
}

button {
  width: 100px;
}

#nav > * {
  margin-right: 15px;
}